{
    "extends": [
        "airbnb-base",
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
    },
    "rules": {
        "global-require": 0,
        "indent": ["error", 4],
        "linebreak-style": 0,
        "eslint linebreak-style": [0, "error", "windows"],

        "import/prefer-default-export": 0,
        "no-console": 0,
    },
}